# Root of your source files. File names are reported relative to this root. The --root is the default --filter
root = src/EnergyPlus

# Exclude unit test files
exclude = .*unit.cc

# Ignore gcov errors
gcov-ignore-errors = source_not_found
gcov-ignore-errors = no_working_dir_found
gcov-ignore-parse-errors = suspicious_hits.warn_once_per_file

# Merge mode for functions
merge-mode-functions = merge-use-line-min

# Print summary to stdout
print-summary = yes

# HTML output
# Can't do this: it'll be resolved as being relative to the current gcovr.cfg, not the build dir
# html = html/index.html
# html-details = yes

# Markdown output
# markdown = markdown.md
# markdown-summary = summary.md

# Parallel execution
gcov-parallel = yes # means auto-detect based on number of cores

# Object directory
# gcov-object-directory = .

# Coverage thresholds. Default for all is medium: >= 75.0, high: >= 90.0
# Lines (current: 74.9%)
# medium-threshold-line = 74.8
# high-threshold-line = 74.9

# Functions (current: 89.2%)
# medium-threshold = 89
# high-threshold = 89.2

# Branches (current: 64.7%)
# medium-threshold-branch = 64.6
# high-threshold-branch = 64.7

# Exclude non-essential or compiler-generated coverage artifacts
exclude-unreachable-branches = yes
exclude-noncode-lines = yes
exclude-throw-branches = yes
