---
Language: Cpp
Standard: Cpp11
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 150
CommentPragmas: '^ IWYU pragma:'
UseTab: Never
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
CompactNamespaces: false
NamespaceIndentation: Inner
FixNamespaceComments: true
BreakBeforeBraces: Custom
# BreakConstructorInitializers: 'AfterColon'
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
#  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
IndentPPDirectives: AfterHash
